  .right_container{
    margin-top: 1%;
    margin-left: 9%;
    margin-right: 25%;
    width: 50%;
    background-color: #EEEEEE;
  }
  .purchases_header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-right: 1%;
    background-color: #CCCCCC;
  }
  .purchases_list{
    overflow-y: scroll;
    margin-bottom: 5px;
    padding-top: 10px;
    height: 500px;
    background-color: #CCCCCC;
  }
  .purchases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .purchase{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    border-style: hidden;
    border-radius: 10px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:#DFDFDF;
  }
  .purchase_ext{  
    position: relative;  
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    border-style: hidden;
    border-radius: 10px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #add8e6;
  }
  #close_invisible{
  visibility: hidden;
  }
  #a_button{
  text-align: center;
  background-image: "img/logo.jpg";
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  color: #FF0000;
  position: absolute;
  top: 42%;
  left: 90%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  }
  #a_button:hover{
  background-color: #FFAAAA;
  border-style: solid;
  border-color: #FF0000;
  }
  #close_button{
  width: 20px;
  height: 20px;
  }
