  .new_purchase_container{
    position: fixed;
    left: 0px;
    bottom: 0%;
    height: 40px;
    width: 25%;

  }
  .new_purchase{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 300px;
    background-color: #add8e6;
    border-style: hidden;
    border-radius: 5px;
    transition-duration: 1s;
    transition-property: bottom;    
    
  }
  .new_purchase:hover{
    position: relative;
    bottom: 250px;
    width: 100%;
  }
  .aaaaaaaaaa{
    margin: 10px;
    color: blue;
  }
