*{
  margin: 0px;
  padding: 0px;
}
.page{
  margin: 0px;
  padding: 0px;
}
.header_container{
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: space-around;
    background-color: #add8e6;
  }
  .logo_container{
    margin: 1%;
  }
  .logo{
      width: 100px;
      height: 100px;
  }
  .search_container{
    margin: 1%;
    margin-left: 50%;
  }
  
  .main_page{
    display: flex;
    justify-content: space-between;
  }

